
  <h2>dynamic-check-box- textField-validation works!</h2>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <form [formGroup]="questionForm" (ngSubmit)="submit(questionForm)">

            <div formArrayName="questions">
              <div *ngFor="let question of questionForm.get('questions')['controls'] | orderBySelectedPipe; let i = index;"
                [formGroupName]="i">
                {{questions[questionForm.get('questions.' + i + '.questionNumber').value - 1]['EN']}}
                <input type="checkbox" formControlName="question" (ngModelChange)="changeValidator($event, i)"/>
                <input type="text" formControlName="answer" />
                <em *ngIf="questionForm.get('questions.' + i + '.answer').invalid">Minimum length 4</em>
              </div>
            </div>
          
            <button type="submit" [disabled]="questionForm.invalid">Submit</button>
          
          </form>
     
    </div>
    <div class="col-md-2"></div>
  </div>

  {{submission|json}}








 