
<nav>
  <ul>
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JQUERY</a></li>
    <li><a href="#">BOOSTRAP</a></li>
    <li><a href="#">SASS</a></li>

  </ul>
</nav>

<nav class="anotherNav">
  <ol>
      <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JQUERY</a></li>
    <li><a href="#">BOOSTRAP</a></li>
    <li><a href="#">SASS</a></li>
    
  </ol>
</nav>

<div class ="row">
  <ul class="abc">
    <li><a>abc</a></li>
    <li><a>efg</a></li>
    <li><a>hig</a></li>
  </ul>
</div>