<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center " >
  <h1 class="text-warning bg-dark">
    Welcome to {{ title }}!
  </h1>
  <div class="row">
    <div class="col-md-4">
        <ul class="bg-dark">
            <li class="text-left"><a class="text-light" routerLink="FormGroup" routerLinkActive="active">Form Group</a></li>
            <li class="text-left"><a  class="text-light" routerLink="FormBuilder" routerLinkActive="active">Form Builder</a></li>
            <li class="text-left"><a class="text-light" routerLink="template" routerLinkActive="active"> Template Driven Form</a></li>
            <li class="text-left"><a  class="text-light" routerLink="template2" routerLinkActive="active"> Template Driven Form with Validation</a></li>
            <li class="text-left"><a class="text-light" routerLink="DynamicForm" routerLinkActive="active">Dynamic Form field Example</a></li>
            <li class="text-left"><a class="text-light"  routerLink="ReactValid" routerLinkActive="active">Reactive Form Validation</a></li>
            <li class="text-left"><a class="text-light" routerLink="dynamicJson" routerLinkActive="active"> Dynamic FORM USING JSON.....</a></li>
            <li class="text-left"><a class="text-light" routerLink="dynamicCheckBox" routerLinkActive="active"> DYNANIC CHECK BOX WITH TEXTFIELD CONDITIONAL VALIDATION</a></li>
            <li class="text-left"><a class="text-light" routerLink="PATTERN" routerLinkActive="active">PATTERN PRogram</a></li>
            <li class="text-left"><a class="text-light" routerLink="SCssExample" routerLinkActive="active">SASS  variable PRACTISE</a></li>
            <li class="text-left"><a class="text-light" routerLink="SassNested" routerLinkActive="active">SASS NEsted rule</a></li>


          </ul>

    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>

    </div>
  </div>
 
</div>


