<h1 class="text-center text-primary">Form Builder Example </h1>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

      <form [formGroup]="FBuildForm" (ngSubmit)="onSubmit()">
          <label> first Name </label>
          <input type="input" id="fname" placeholder="first Name " formControlName="fname" class="form-control">
          <br>
        
          <label> last Name </label>
          <input type="input" id="lname" placeholder="last Name " formControlName="lname" class="form-control">
          <br>
        
          <label> Address </label>
          <input type="input" id="Add" placeholder="enter your address " formControlName="Add" class="form-control">
          <br>
          <button class="text-primary btn-light">submit</button>
      </form>
  </div>
  <div class="col-md-2"></div>
</div>
<h3 *ngFor="let data of data"> 
  {{data.fname}}--{{data.lname}}--{{data.Add}}
</h3>